html, body, #__next {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  background-color: #020817;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
