.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #0f1419;
}

/*Partie gauche de la page */

.leftside {
  width: 50%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Partie droite de la page */

.rightside {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1419;
  color: white;
}

.content {
  width: 70%;
  max-width: 400px;
}

.title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 28px;
  margin-bottom: 20px;
}

/*BUTTONS SIGNIN SIGNUP */
.signup {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #1d9bf0;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.account {
  margin: 10px 0;
}

.signin {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #536471;
  background: none;
  color: #1d9bf0;
  font-weight: bold;
  cursor: pointer;
}