.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #0f1419;
}

.leftside {
  width: 50%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1419;
  color: white;
}

.content {
  width: 70%;
  max-width: 400px;
}